body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: cornsilk;
  border-color: 5px black; 
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: black;
}
#title {
  color: black;
  font-size: 8em;
  font-family: 'Oleo Script', cursive;
}

.jumbotron {
  background-image: url("https://static.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

  color: #EEEEE1;
}
.jumbotron .container {
  height: 330px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 15px;
}
