// var mongoose = require('mongoose'),
//   Schema = mongoose.Schema;

// var HobbySchema = new Schema({
//   description: String
// });

// var Hobby = mongoose.model('Hobby', HobbySchema);

// module.exports = Hobby;
